# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
examples        export-ignore
opmd_beamphysics export-ignore

# exclude CI configurations (useless outside the repo)
.travis-ci.yml  export-ignore
.appveyor.yml   export-ignore
