name: pypi - tests

on:
  pull_request:
  push:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    name: Test Suite
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Install openPMD-beamphysics (pypi deps)
        shell: bash -l -e -o pipefail {0}
        run: |
          python -m pip install .[dev]
      - name: Test environment conda package list
        shell: bash -l {0}
        run: |
          conda list
      - name: Run unit tests
        shell: bash -l -e -o pipefail {0}
        run: |
          echo -e '## Test results\n\n```' >> "$GITHUB_STEP_SUMMARY"
          pytest -v 2>&1 | tee -a "$GITHUB_STEP_SUMMARY"
          echo '```' >> "$GITHUB_STEP_SUMMARY"
